<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white"> Featured Posts </h2>
        <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis debitis earum quis sunt vero? Aliquid commodi, consequuntur, culpa dignissimos dolor eaque, exercitationem molestiae molestias quisquam rem sint tempore voluptas. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div><div class="col-lg-3">
      <app-post-card></app-post-card>
    </div><div class="col-lg-3">
      <app-post-card></app-post-card>
    </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2> Latest Posts </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque enim eos exercitationem explicabo provident quod? Aspernatur dolore earum enim eum provident sapiente, ut! Blanditiis culpa et harum labore magnam sit! </p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
