<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-primary-theme">
    <h1 class="text-white text-center"> About Us </h1>

    <div class="p-5 mt-4 bg-secondary-theme text-primary-theme">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aut consequuntur cupiditate, deserunt, dolorem eius facilis illo inventore ipsum minima nesciunt nulla numquam qui quis quo quos ratione repudiandae vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aut consequuntur cupiditate, deserunt, dolorem eius facilis illo inventore ipsum minima nesciunt nulla numquam qui quis quo quos ratione repudiandae vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aut consequuntur cupiditate, deserunt, dolorem eius facilis illo inventore ipsum minima nesciunt nulla numquam qui quis quo quos ratione repudiandae vero.</p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 form-btn px-4"> Back to Home</button>
      </div>
    </div>
  </div>
</section>
