 <div class="container">
   <div class="row">
     <div class="col-md-9 mt-3">
       <div class="card shadow-effect">
         <img src="https://images.pexels.com/photos/326576/pexels-photo-326576.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="post-image" class="card-img-top img-fluid">
         <div class="card-body">
           <small class="bg-light text-danger text-center"> Design </small>
           <small class="bg-light text-success text-center ml-2"> Featured </small>
           <small class="bg-light text-info text-center ml-2"> Views - 100,209 </small>
           <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - MAY 13, 2023 </small>

           <h1 class="mt-3 mb-3"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY </h1>
         <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis culpa enim molestiae nesciunt omnis repellendus sit temporibus ut. Autem culpa dolorem et expedita illo magni numquam suscipit vel.
         </p>
         </div>
       </div>

       <app-comment-form></app-comment-form>
       <app-comment-list></app-comment-list>
     </div>

     <div class="col-md-3">
       <div class="mt-3">
         <app-post-card></app-post-card>
       </div>
       <div class="mt-3">
         <app-post-card></app-post-card>
       </div>
       <div class="mt-3">
         <app-post-card></app-post-card>
       </div>
     </div>

   </div>
 </div>
